/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --logo-text-color: #DB00FF;
  --title-color: #000028;
  --text-color: #F1B2CE;
  --elements-color: #FF0070;
  --accent-color: #FF0070;
  --display-type: inline-block;
}

/*.theme-dark .header__icon {
  display: inline-block;
  position: absolute;
  top: var(--small-indent);
  right: var(--small-indent);
  color: var(--accent-color);
}

.theme-dark .header__icon::after {
  display: inline-block;
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-inline-start: 10px;
  margin-inline-end: 9px;
  box-shadow: 
    0 0 6px currentColor,
    0 0 8px currentColor,
    0 0 9px currentColor;
}*/

.theme-dark .header__theme-menu-button:hover {
  display: block;
  outline: 1px solid rgba(255, 0, 112, 40%);
}
